/***********
 * Globals *
 ***********/

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/******************
 * Base structure *
 ******************/

html,
body {
    min-height: 100%;
    color: #fff;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    background-color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
    text-transform: lowercase;
}

/**************
 * Components *
 **************/

.btn-outline {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.food-item h3 {
    text-align: center;
    font-weight: 200;
}

.food-notice, .food-block .food-item {
    padding:1rem;
    border: 1px solid #fff;
    height:100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (prefers-color-scheme: light) {
    .food-notice, .food-block .food-item {
        border: 2px solid #000;
    }
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}


@media (prefers-color-scheme: light) {
    body {
        color: #000;
        background-color: #fff;
    }

    .btn-outline {
        color: #f8f9fa;
        border-color: #f8f9fa;
    }

    .logo {
        filter: invert();
    }

    a,
    a:focus,
    a:hover {
        color: #000;
    }

    .mastfoot {
        color: rgba(0, 0, 0, .5);
    }
}
