/***********
 * Globals *
 ***********/

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/******************
 * Base structure *
 ******************/

html,
body {
    min-height: 100%;
    color: #fff;
}

body {
    background-color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
    text-transform: lowercase;
}

.col {
    padding-top:15px;
    padding-bottom:15px;
}

/**************
 * Components *
 **************/

.food-item h3 {
    text-align: center;
    font-weight: 200;
}

.food-notice,
.food-block .food-item {
    padding: 1rem;
  /*  padding-bottom: 3em; */
    border: 1px solid #fff;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    white-space: nowrap;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}


/*
 * Footer
 */
@media (prefers-color-scheme: light) {
    body {
        color: #000;
        background-color: #fff;
    }

    .logo, .btn {
        -webkit-filter: invert();
        filter: invert();
    }

    a,
    a:focus,
    a:hover {
        color: #000;
    }

    .mastfoot {
        color: rgba(0, 0, 0, .5);
    }
    
    .food-notice,
    .food-block .food-item {
        border: 2px solid #000;
    }
}
